* @InferenceX/core

# AMD master config
.github/configs/amd-master.yaml @billishyahao @chunfangamd @seungrokj @yctseng0211 @1am9trash

# NVIDIA master config
.github/configs/nvidia-master.yaml @ankursingh-nv @kedarpotdar-nv @jgangani
